* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

ul {
  list-style: none; }

header {
  text-align: center;
  height: 60px;
  line-height: 60px; }
  header img {
    display: inline-block;
    height: 30px;
    vertical-align: middle; }

#main-content {
  width: 940px;
  max-width: 100%;
  margin: auto;
  padding: 0 50px; }

#filters {
  height: 40px;
  background-color: #F2F2F2; }

#list-style-type li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  cursor: pointer; }

#newsletter-list {
  font-size: 0; }
  #newsletter-list .newsletter {
    position: relative;
    font-size: 14px; }
    #newsletter-list .newsletter .content-wrapper {
      height: 100%; }
    #newsletter-list .newsletter .capture span {
      display: block;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
    #newsletter-list .newsletter .info {
      padding: 10px; }
    #newsletter-list .newsletter:not(:last-child) {
      margin-bottom: 10px; }
  #newsletter-list.list .newsletter {
    width: 100%;
    height: 80px; }
    #newsletter-list.list .newsletter .capture, #newsletter-list.list .newsletter .info {
      display: inline-block;
      vertical-align: middle; }
    #newsletter-list.list .newsletter .capture {
      width: 90px;
      height: 100%; }
  #newsletter-list.grid .newsletter {
    display: inline-block;
    width: 50%;
    height: 400px;
    padding: 0 15px;
    margin-bottom: 50px; }
    #newsletter-list.grid .newsletter .info {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
    #newsletter-list.grid .newsletter:hover .info {
      display: block; }
