<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Newsletter Tracker</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<header>
			<div class="logo">
				<span><strong>Newsletter</strong> Tracker</span>
			</div>
		</header>

		<!-- File Upload -->
		<label>
			<form id="file-upload-form" action="/upload" method="POST" enctype="multipart/form-data">
				<input type="file" id="file-input" name="nlfile" />
				<input type="submit" />
			</form>
		</label>

		<div id="app"></div>
		<script src="bundle.js"></script>
	</body>
</html>
